html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

* {
  color: inherit;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input {
  font-family: inherit;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.option {
  font-size: 32px;
}