.content {
  max-width: 1720px;
  display: flex;
  flex-direction: column;
}

.feed-header {
  display: flex;
  flex-direction: column;
  padding: 50px 75px 75px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
}

.feed-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom:20px;
  text-align: center;
}

.feed-subheading {
  text-align: center;
}

.feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0% 50px 100px;
}

.feed-item {
  width: 40%;
  margin: 0px 5% 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.feed-image {
  width: 100%;
  flex: 1;
  object-fit: cover;
}

.feed-item-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-right: 10px;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  writing-mode: tb-rl;
}

.feed-item-name {
  font-weight: 500;
  margin-bottom: 5px;
}

.feed-item-price {
  color: #464646;
}

.feed-item-color-icon {
  color: #000000;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feed-item:hover .feed-item-info {
  opacity: .5;
}