html, body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

* {
  color: inherit;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a, button {
  background: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
}

.bold {
  font-weight: 700;
}

.green-text {
  color: #4DC22D;
}

.banner {
  z-index: 50;
}

.banner-content {
  max-width: 500px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 150px;
}

.header-content {
  max-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 50px;
  position: relative;
}

.header-menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.name {
  width: fit-content;
  font-family: 'Playfair Display SC', serif;
  font-size: 42px;
  font-weight: 700;
  margin-right: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.search-bar {
  width: 400px;
  max-width: 25%;
  color: #000000;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DDDDDD;
  z-index: 10;
}

.search-bar input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  padding: 10px 20px;
}

.left-menu {
  display: flex;
  position: relative;
}

.left-menu-item {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.left-menu-item.hamburger {
  display: none;
}

.left-menu-item:hover {
  color: #464646;
}

.left-menu-item .material-icons-outlined {
  margin-left: 10px;
}

.header-menu-bottom {
  display: flex;
  font-weight: 500;
  justify-content: center;
}

.header-menu-item {
  padding: 10px 10px;
  margin: 0px 25px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.header-menu-item:hover {
  color: #4DC22D;
}

.content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.splash {
  position: relative;
}

.splash-content {
  width: 50%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0px 5% 0px 10%;
}

.spash-image {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  filter: brightness(.9);
}

.splash-heading {
  font-family: 'Playfair Display SC', serif;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.splash-subheading {
  max-width: 700px;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}

.splash-button-container {
  display: flex;
}

.splash-button {
  width: 150px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  padding: 10px 0px;
  border: 1px solid #DDDDDD;
  text-align: center;
}

.splash-button:hover {
  color: #4DC22D;
}

.promo-container {
  width: 100%;
  max-width: 1720px;
  display: flex;
  margin: auto;
  padding: 0px 10px;
  position: relative;
}

.promo {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  padding: 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.promo-jumbo {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 10px;
}

.promo-heading {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.promo-subheading {
  font-size: 20px;
}

.footer {
  background: #DDDDDD;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}

.footer a:hover {
  opacity: .7;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.footer-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.newsletter-section {
  flex: 2;
}

.footer-section-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-section-subheader {
  margin-bottom: 25px;
}

.footer-section-item {
  display: flex;
  margin-bottom: 15px;
}

.footer-input {
  width: 300px;
  color: #000000;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.footer-button {
  width: fit-content;
  background: #464646;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
}

.footer-button:hover {
  background: #4DC22D;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.back {
  width: 150px;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 1px solid #000000;
}

@media only screen and (max-width: 600px) {
  .banner-content {
    font-size: 10px;
    justify-content: space-evenly;
  }

  .header {
    height: auto;
  }

  .header-content {
    padding: 0px 20px 10px;
  }

  .header-menu-top {
    margin: 0px;
  }

  .left-menu {
    display: none;
  }

  .left-menu-item {
    margin: 0px;
  }

  .left-menu-item .material-icons-outlined {
    margin: 0px;
  }

  .left-menu-item.hamburger {
    display: flex;
  }

  .search-bar {
    display: none;
  }

  .name {
    font-size: 22px;
  }

  .search-bar {
    display: none;
  }

  .header-menu-bottom {
    display: none;
  }

  .spash-image {
    height: 80vh;
    object-position: 60%;
  }

  .splash-content {
    width: 60vw;
    padding: 30px;
  }

  .splash-heading {
    font-size: 26px;
  }

  .splash-subheading {
    font-size: 14px;
  }

  .splash-button-container {
    flex-direction: column;
  }

  .splash-button {
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    margin: 0px 0px 10px;
    padding: 5px 0px;
  }

  .promo {
    height: auto;
    margin: 0px;
    padding: 100px 20px;
  }

  .promo-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .promo-subheading {
    font-size: 14px;
  }

  .footer {
    padding: 75px 40px;
  }

  .footer-content {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .footer-section {
    margin-bottom: 50px;
  }

  .footer-section-header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .footer-section-subheader, .footer-section-item {
    font-size: 14px;
  }

  .footer-input {
    width: 90%;
    padding: 10px 20px;
  }

  .footer-copyright {
    font-size: 10px;
    text-align: center;
  }

  .footer-button {
    font-size: inherit;
  }
}